body {
    background-image: url(../images/design-surface.jpg);
    font-size: 14pt;
}
.main {
    display: block;
    margin: auto;
    width: 900px;
    background-color: #ffffff;
    border: solid  #dddddd;
    min-height: 400px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.display {
    display: block;
    margin: auto;
    width: 90%;
    min-height: 500px;
    margin-top: 50px;
    margin-bottom: 60px;
}
#logo {
    width: 100%;
    margin-top: 10px;    
}
h1 {
    font-size: 70pt;
    font-weight: bolder;
    text-align: center;
    padding-right: 60px;
    color: goldenrod;
    text-shadow: 2px 2px blue;
    margin-top: 20px;
    text-align: center;
}
h2 {
    font-size: 20pt;
}
button {
    display: block; 
    background-color: darkred;
    color: ghostwhite;
    width: 400px;
    height: 100px;
    margin: 10px auto 0;
    font-size: 42px;
    cursor: pointer;
}
#startButton {
    /* font-size: 70pt; */
    font-weight: bold; 
    margin-top: 10%;
}
#resetButton {
    font-size: 30pt;
    font-weight: bold;
    /* margin-top: 100px;
    padding: 30px; */
}
#clockDiv {
    font-size: 70pt;
    font-weight: bold;
    text-align: center;
    
}
#quesDiv {
    padding-top: 30px;
    padding-bottom: 10px;
}
/* #possibleAnsDiv {

} */